#spring.application.name=kotlin-rest-with-spring-boot
datadog:
  port: 8125
  hostname: localhost
  prefix: statsd
cors:
  originPatterns: http://localhost:3000, http://localhost:8080
file:
  upload-dir: /UploadDir
security:
  jwt:
    token:
      secret-key: admin
      expire-length: 3600000
server:
  port: 8880
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rest_with_spring_boot_docosal?useSSL=false&serverTimezone=UTC
    username: root #docker
    password: admin #admin123
  jpa:
    hibernate:
      ddl-auto: none
    format_sql: false
    show-sql: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
spring-doc:
  paths-to-match:
    - /api/**/v1/**
    - /auth/**
  swagger-ui:
    use-root-path: true

logging:
  level:
    root: info

management:
  datadog:
    metrics:
      export:
        enabled: true
        api-key: ${DD_API_KEY}
        uri: https://api.us5.datadoghq.com
        step: 5s

cloud:
  aws:
    region:
      static: us-east-1
    credentials:
      access-key: fake
      secret-key: fake
    sqs:
      endpoint: http://localhost:4566
      book-queue: book
      person-queue: person