name: Continuous Integration with Github Actions

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4 # More information on this action can be found below in the 'AWS Credentials' section
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Set up Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build Application with Maven
      working-directory: ./kotlin-rest-with-spring-boot
      run: mvn clean package

    - name: Build Docker image
      run: docker compose build

    - name: Tag and push docker image to Amazon ECR
      env:
        IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-boot-docosal
      run: |
        docker tag $IMAGE_NAME:latest ${{ secrets.ECR_IMAGE_REPO_URL }}:${{ github.run_id }}
        docker tag $IMAGE_NAME:latest ${{ secrets.ECR_IMAGE_REPO_URL }}:latest
        docker push ${{ secrets.ECR_IMAGE_REPO_URL }}:${{ github.run_id }}
        docker push ${{ secrets.ECR_IMAGE_REPO_URL }}:latest

    - name: Download task definition
      run: |
        echo ${{secrets.TASK_DEFINITION_NAME}} | sed 's/./& /g'
        aws ecs describe-task-definition --task-definition ${{ secrets.TASK_DEFINITION_NAME }} --query taskDefinition > task-definition.json

    - name: Fill in the new image ID in the Amazon ECS task definition
      id: task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: task-definition.json
        container-name: ${{ secrets.CONTAINER_NAME }}
        image: ${{ secrets.ECR_IMAGE_REPO_URL }}:latest

    - name: Deploy Amazon ECS task definition
      uses: aws-actions/amazon-ecs-deploy-task-definition@v2
      with:
        task-definition: ${{ steps.task-def.outputs.task-definition }}
        service: ${{ secrets.SERVICE_NAME }}
        cluster: ${{ secrets.CLUSTER_NAME }}
        wait-for-service-stability: true

    - name: Push Docker image to Docker Hub
      env:
        IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-boot-docosal
      run: |
        docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ github.run_id }}
        docker push $IMAGE_NAME:${{ github.run_id }}
        docker push $IMAGE_NAME:latest
